/*
 * Device Tree Overlay for ZLS Land Meter LM-003 Rev A
 * Jack Walker 2017
 *
 */

/*
pinmux control byte map courtesy of http://beaglebone.cameon.net/
Bit 5: 1 - Input, 0 - Output
Bit 4: 1 - Pull up, 0 - Pull down
Bit 3: 1 - Pull disabled, 0 - Pull enabled
Bit 2 \
Bit 1 |- Mode
Bit 0 /
 */

/dts-v1/;
/plugin/;

/ {
    compatible = "ti,beaglebone-black";

    /* identification */
    part-number = "LandMeter";

    /* version */
    version = "00A0";

	exclusive-use =
		"P8.3",		/*Meter_Heater_FET*/		*
		"P8.4",		/*Gearbox_Heater_FET*/		*
		"P8.5",		/*Arrestment_Heater_FET*/	*
		"P8.6",		/*Conning_Tower_FET*/		*
		"P8.10",	/*12V_DC-DC_EN*/			*
		"P8.13",	/*PWM_2B*/					*
		"P8.14",	/*IC_Heater_FET*/			*
		"P8.15",	/*PRU_ENCODER_B*/
		"P8.16",	/*PRU_ENCODER_A*/
		"P8.17",	/*BATT_LED_1*/
		"P8.19",	/*PWM_2A*/					*
		"P8.22",	/*Power_Enable*/			*
		"P8.27",	/*SERVO_1*/
		"P8.28",	/*Levels reset*/			*
		"P8.29",	/*RTC_SQW/ INT*/			*
		"P8.30",	/*RTC_Reset*/				*
		"P8.33",	/*QEP_1B*/
		"P8.34",	/*MDIR_2B*/
		"P8.35",	/*QEP_1A*/
		"P8.36",	/*SERVO_PWR*/
		"P8.37",	/*UART5_TX*/
		"P8.38",	/*UART5_RX*/
		"P8.39",	/*SERVO_5*/
		"P8.40",	/*SERVO_6*/
		"P8.41",	/*SERVO_7*/
		"P8.42",	/*SERVO_8*/
		"P8.43",	/*MDIR_3B*/
		"P8.44",	/*MDIR_3A*/
		"P8.45",	/*MDIR_4A*/
		"P8.46",	/*MDIR_4B*/

		"P9.11",	/*UART4_RX*/	*
		"P9.13",	/*UART4_TX*/	*
		"P9.14",	/*PWM_1A*/		*
		"P9.16",	/*PWM_1B*/      *
		"P9.17",	/*SPI0_CS0 */	*
		"P9.18",	/*SPI0_MOSI*/	*
		"P9.19",	/*I2C2_SCL*/	*
		"P9.20",	/*I2C2_SDA*/	*
		"P9.21",	/*SPI0_MISO*/	*
		"P9.22",	/*SPI0_SCK*/	*
		"P9.23", 	/*SPI1_SS2*/	*
		"P9.25",	/*IMU_INT*/
		"P9.26",	/*UART1_RX*/
		"P9.27",	/*QEP_0B*/
		"P9.28",	/*SPI1_CS0*/	*
		"P9.29",	/*SPI1_MISO*/	*
		"P9.30",	/*SPI1_MOSI*/	*
		"P9.31",	/*SPI1_SCK*/	*
		"P9.33", 	/*AIN4*/		*
		"P9.35", 	/*AIN6*/		*
		"P9.36", 	/*AIN5*/		*
		"P9.37", 	/*AIN2*/		*
		"P9.38", 	/*AIN3*/		*
		"P9.39", 	/*AIN0*/		*
		"P9.40", 	/*AIN1*/		*
		"P9.41",	/*MOT_STBY*/
		"P9.42",	/*QEP_0A*/

		"ehrpwm1A",
		"ehrpwm1B",
		"ehrpwm2A",
		"ehrpwm2B",
		"pruss",
		"pru0",
		"pru1",
		"eqep0",
		"eqep1",
		"eqep2",
		"i2c1",
		"i2c2",
		"uart1",	/*breakout*/
		"uart2",	/*GPS*/
		"uart4",	/*DSM2*/
		"uart5", 	/*breakout*/
		"spi1",
		"tscadc";